<div>
    <style>
        .center {
            text-align:center;
        }

        table {
            border: 1px solid black;
            width:600px;
            margin:auto;
            border-collapse:collapse;
        }

        tr td {
            border: 1px solid black;
        }

        .row1 {
            width:150px;
        }
    </style>
    <h1 class="center">Comment</h1>

    <table>
        <tr>
            <td class="row1">Updated by</td>
            <td>User42</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>11/09/2001</td>
        </tr>
        <tr>
            <td>Status changed to</td>
            <td>Status42</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>
                Text bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla bla
                Text bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla bla
                Text bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla blaText bla bla bla Text bla bla bla
            </td>
        </tr>
    </table>


</div>