<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div>
    <style>
        .center {
            text-align:center;
        }

        table {
            border: 1px solid black;
            width:600px;
            margin:auto;
            border-collapse:collapse;
        }

        tr td {
            border: 1px solid black;
        }

        .row1 {
            width:150px;
        }
    </style>
    <h1 class="center">Comment</h1>

    <th:block th:each="comment : ${commentList}">
    <p>
    <table>
        <tr>
            <td class="row1">Id</td>
            <td><span th:text="${comment.getId()}"></span></td>
        </tr>
        <tr>
            <td>User Id</td>
            <td><span th:text="${comment.getUserId()}"></span></td>
        </tr>
        <tr>
            <td>Issue Id</td>
            <td><span th:text="${comment.getIssueId()}"></span></td>
        </tr>
        <tr>
            <td>Status Id</td>
            <td><span th:text="${comment.getStatusId()}"></span></td>
        </tr>
        <tr>
            <td>Text</td>
            <td><span th:text="${comment.getText()}"></span></td>
        </tr>
    </table>
    </p>
    </th:block>


</div>