<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Issue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
 <div class="container" >
    <br>
    <h5><a href="/">Home</a></h5>
    <form action="/createissue" method="post">
        <div class="form-group">
            <input class="form-control form-control-lg" name="title" placeholder="Title" type="text" required>
        </div>
        <div class="form-group">
            <textarea class="form-control form-control-lg" rows="5" name="description" required placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg">Add</button>
        </div>
    </form>
</div>
</body>
</html>