<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
</head>
<style>
h1 {
    text-align:center;
}

table {
    width:1024px;
    margin:auto;
    border: solid 1px black;
    border-collapse: collapse;
}

tr td {
    border: solid 1px black;
}

th {
    border: solid 1px black;
}

</style>
<body>
<!-- Header -->
<header th:insert="header"></header>

<h1>Issue Tracker <span th:text="${foo}"></span></h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Date</th>
        <th>User</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="issue : ${issueList}">
        <td><span th:text="${issue.getId()}"></span></td>
        <td><a th:href="@{issue/{id}(id=${issue.getId()})}"><span th:text="${issue.getTitle()}"></span></a></td>
        <td><span th:text="${issue.getStatus().getStatus()}"></span></td>
        <td><span th:text="${issue.getDate().toString()}"></span></td>
        <td><span th:text="${issue.getUserId()}"></span></td>
        <td><a th:href="@{update/{id}(id=${issue.getId()})}">Update</a></td>
        <td><a th:href="@{delete/{id}(id=${issue.getId()})}">Delete</a></td>
    </tr>
</table>

<!-- -->
</body>
</html>