<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
</head>
<style>
h1 {
    text-align:center;
}

table {
    width:1024px;
    margin:auto;
    border: solid 1px black;
    border-collapse: collapse;
}

tr td {
    border: solid 1px black;
}

th {
    border: solid 1px black;
}

</style>
<body>
<!-- Header -->
    <header th:insert="header"></header>

    <h1>Issue Tracker</h1>
    <th:block th:if="${user}">
        <h1>Welcome <span th:text="${user.getName()}"></span></h1>
    </th:block>

    <table>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
        <tr th:each="issue : ${issueList}">
            <td><a th:href="@{issue/{id}(id=${issue.getId()})}"><span th:text="${issue.getTitle()}"></span></a></td>
            <td><span th:text="${issue.getStatus()}"></span></td>
            <td><span th:text="${issue.getDate()}"></span></td>
            <td><span th:text="${issue.getUser().getName()}"></span></td>

            <th:block th:if="${user} == ${issue.getUser()}">
                <td><a th:href="@{update/{id}(id=${issue.getId()})}">Update</a></td>
                <td><a th:href="@{delete/{id}(id=${issue.getId()})}">Delete</a></td>
            </th:block>
        </tr>
    </table>
</body>
</html>