<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issue Tracker</title>
</head>
<style>
h1 {
    text-align:center;
}

table {
    width:500px;
    margin:auto;
    border: solid 1px black;
    border-collapse: collapse;
}

tr td {
    border: solid 1px black;
}

th {
    border: solid 1px black;
}

</style>
<body>
<!-- Header -->
<h1>Issue Tracker <span th:text="${foo}"></span></h1>
<table>
    <tr>
        <td><a href="/issue/42">Issue 42 Title</a></td>
        <td>Created</td>
        <td>09/11/2001</td>
        <td><a href="/update/42">Update</a></td>
        <td><a href="/delete/42">Delete</a></td>
    </tr>
    <tr>
        <td><a href="/issue/43">Issue 43 Title</a></td>
        <td>Resolved</td>
        <td>09/11/2001</td>
        <td><a href="/update/43">Update</a></td>
        <td><a href="/delete/43">Delete</a></td>
    </tr>
    <tr>
        <td><a href="/issue/44">Issue 44 Title</a></td>
        <td>Closed</td>
        <td>09/11/2001</td>
        <td><a href="/update/44">Update</a></td>
        <td><a href="/delete/44">Delete</a></td>
    </tr>
</table>

<span th:insert="issueform"></span>

<!-- -->
</body>
</html>