<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            text-align:center;
        }

        table {
            border: 1px solid black;
            width:600px;
            margin:auto;
            border-collapse:collapse;
        }

        tr td {
            border: 1px solid black;
        }

        .row1 {
            width:100px;
        }
    </style>
</head>
<body>
<!-- Header -->
<header th:insert="header"></header>

<h1 class="center">View Issue <span th:text="${issue.getId()}"></span></h1>

<table>
    <tr>
        <td class="row1">Title</td>
        <td><span th:text="${issue.getTitle()}"></span></td>
    </tr>
    <tr>
        <td>Status</td>
        <td><span th:text="${issue.getStatus().getStatus()}"></span></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><span th:text="${issue.getDate()}"></span></td>
    </tr>
    <tr>
        <td>Author</td>
        <td><span th:text="${issue.getUserId()}"></span></td>
    </tr>
    <tr>
        <td>Description</td>
        <td>
            <span th:text="${issue.getDescription()}"></span>
        </td>
    </tr>
</table>

<h5 class="center">View all coments</h5>

<span th:insert="comment"></span>

<h5 class="center">Add comment</h5>

<span th:insert="commentform"></span>

</body>
</html>