<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Issue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="container" >
    <br>
    <h5><a href="/">Home</a></h5>
    <form action="/updateissue" method="post">
        <input type="hidden" name="id" th:value="${issue.getId()}">
        <div class="form-group">
            <input class="form-control form-control-lg" name="title" type="text" th:value="${issue.getTitle()}" required>
        </div>
        <div class="form-group">
            <textarea class="form-control form-control-lg" rows="5" name="description" th:utext="${issue.getDescription()}" required></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg">Save</button>
        </div>
    </form>
</div>
</body>
</html>